@inherits LayoutComponentBase
<RadzenComponents @rendermode="InteractiveServer" />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@SidebarToggleClick" />
            <RadzenLabel Text="Reconcilor 1.0" />
        </RadzenStack>
@*         <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End">
            <RadzenProfileMenu Click="@ProfileMenuClick">
                <ChildContent>

                    <RadzenProfileMenuItem Path="profile" Icon="settings" Text="Profile" />
                    <RadzenProfileMenuItem Path="application-users" Icon="person" Text="Users" />
                    <RadzenProfileMenuItem Path="application-roles" Icon="security" Text="Roles" />
                    <RadzenProfileMenuItem Text="Logout" Value="Logout" Icon="power_settings_new" />
                </ChildContent>
                <Template>
                    @Security.User?.Name
                     <RadzenGravatar Email="@Security.User?.Name" />
                </Template>
            </RadzenProfileMenu>
        </RadzenStack> *@
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Icon="home" Path="" />
            <RadzenPanelMenuItem Text="SURFACE" Icon="donut_small" IconColor="@Colors.WarningDark">
                <RadzenPanelMenuItem Text="Stock Piles" Path="stockpiles" Icon="change_history"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="RMD" title="Rod Mill Discharge" Path="rmd" Icon="assignment_returned"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Belts Raw" title="Belts Raw" Path="beltraw" Icon="cached"></RadzenPanelMenuItem>
@*                 <RadzenPanelMenuItem Text="TextArea" Path="textarea" Icon="description"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Password" Path="password" Icon="payment"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Numeric" Path="numeric" Icon="aspect_ratio"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="DatePicker" Path="datepicker" Icon="date_range"></RadzenPanelMenuItem> *@
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="UNDERGROUND" Icon="assignment_returned" IconColor="@Colors.WarningDark">
                <RadzenPanelMenuItem Text="Stope Definition" Path="stopedefinition" Icon="receipt"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Stopes Raw" Path="stoperaw" Icon="assignment_return"></RadzenPanelMenuItem>
                @* <RadzenPanelMenuItem Text="Stock Trends" Path="stocktrend" Icon="assessment"></RadzenPanelMenuItem> *@
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="SURVEY" Icon="lightbulb" IconColor="@Colors.WarningDark">
                <RadzenPanelMenuItem Text="Underground Survey" Path="Survey" Icon="group_work"></RadzenPanelMenuItem>
                @* <RadzenPanelMenuItem Text="Trends" Path="" Icon="donut_small"></RadzenPanelMenuItem> *@
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="SYSTEM SETUP" Icon="build" IconColor="@Colors.WarningDark">
                <RadzenPanelMenuItem Text="Shafts" Path="shafts" Icon="dns"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Bin" Path="bins" Icon="add_shopping_cart"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Model" Path="minemodel" Icon="open_with"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Levels" Path="level" Icon="list"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Mining" Path="activity" Icon="gavel"></RadzenPanelMenuItem>
                
@*              <RadzenPanelMenuItem Text="System Health" Path="/" Icon="hourglass_full" IconColor="@Colors.SuccessDarker"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Auth Required" Path="auth" Icon="account_circle"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Register" Path="Account/Register" Icon="account_circle"></RadzenPanelMenuItem> *@
                <RadzenPanelMenuItem Text="Profile" Path="Account/Login" Icon="account_circle"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
@*         <div class="rz-p-4">
            <NavMenu />
        </div> *@
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-1 rz-base-lighter">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        <div id="blazor-error-ui">
            An unhandled error has occurred.
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebarExpanded = true;

    // [Inject]
    // protected SecurityService Security { get; set; }

    void SidebarToggleClick()
    {
        sidebarExpanded = !sidebarExpanded;
    }

    protected void ProfileMenuClick(RadzenProfileMenuItem args)
    {
        if (args.Value == "Logout")
        {
            //Security.Logout();
        }
    }
}


