@inherits LayoutComponentBase
<RadzenComponents @rendermode="InteractiveServer" />

<RadzenLayout>
    <RadzenHeader>
        <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0">
            <RadzenColumn Size="5">
                <RadzenSidebarToggle Click="@SidebarToggleClick"></RadzenSidebarToggle>
            </RadzenColumn>
            <RadzenColumn Size="7">
                <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End">
                    <RadzenProfileMenu Click="@ProfileMenuClick">
                        <ChildContent>

                            <RadzenProfileMenuItem Path="profile" Icon="settings" Text="Profile" />
                            <RadzenProfileMenuItem Path="application-users" Icon="person" Text="Users" />
                            <RadzenProfileMenuItem Path="application-roles" Icon="security" Text="Roles" />
                            <RadzenProfileMenuItem Text="Logout" Value="Logout" Icon="power_settings_new" />
                        </ChildContent>
                        <Template>
                            @* @Security.User?.Name *@
                            @* <RadzenGravatar Email="@Security.User?.Name" /> *@
                        </Template>
                    </RadzenProfileMenu>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Icon="home" />
             <RadzenPanelMenuItem Text="Data" Icon="note_add">
                <RadzenPanelMenuItem Text="RMD" title="Rod Mill Discharge" Path="rmd" Icon="assignment_returned"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="TextBox" Path="textbox" Icon="input"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="TextArea" Path="textarea" Icon="description"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Password" Path="password" Icon="payment"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Numeric" Path="numeric" Icon="aspect_ratio"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="DatePicker" Path="datepicker" Icon="date_range"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Settings" Icon="build">
                <RadzenPanelMenuItem Text="Shafts" Path="shafts" Icon="dns"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Bin" Path="bins" Icon="add_shopping_cart"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="DropDown" Path="dropdown" Icon="dns"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="DropDownDataGrid" Path="dropdown-datagrid" Icon="receipt"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="ListBox" Path="listbox" Icon="view_list"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Auth Required" Path="auth" Icon="account_circle"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Register" Path="Account/Register" Icon="account_circle"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Login" Path="Account/Login" Icon="account_circle"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
@*         <div class="rz-p-4">
            <NavMenu />
        </div> *@
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4 rz-base-lighter">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        <div id="blazor-error-ui">
            An unhandled error has occurred.
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebarExpanded = true;

    // [Inject]
    // protected SecurityService Security { get; set; }

    void SidebarToggleClick()
    {
        sidebarExpanded = !sidebarExpanded;
    }

    protected void ProfileMenuClick(RadzenProfileMenuItem args)
    {
        if (args.Value == "Logout")
        {
            //Security.Logout();
        }
    }
}


